.boton {
    background-color: white;
    border: solid 1px black;
    cursor: pointer;
    padding: 8px;
    margin: 2px;
    font-size: 15px;
    color: black;
  }
  
  
  .boton:hover {
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 7%), 0 2px 4px rgb(0 0 0 / 5%);
  }
  
  .boton:disabled {
    color: rgba(16, 16, 16, 0.3);
    background-color: rgba(66, 66, 66, 0.3);
    border-color: rgba(118, 118, 118, 0.3);
    cursor: default;
  }