.collapse-div {
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 0;
    border-bottom: solid 2px black;
    font-size: 1.8rem;
    font-weight: lighter;
    transition: transform 0.2s;
}

.arrow {
    float: right;
}

.collapse-content {
    height: 0px;
    overflow: hidden;
    transition: all 0.4s ease-in 0.10s;
}

.collapse-div:hover {
    transform: scale(1.015);
}
